.anh{
    display:block; margin-left: auto; margin-right: auto;
}
#áº£nh{
    width: 500px;
    height: 500px;
    border-style: solid;
}

article .new_items img{
    width: 78%;
    padding: 2%
    float: left;
}